# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Large ML files
# =========================
*.csv
*.pkl
*.zip
*.h5
*.pt
*.pth

# =========================
# Datasets
# =========================
data/
datasets/

# =========================
# Python
# =========================
.venv/
venv/
__pycache__/
*.pyc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Java / Spring Boot
# =========================
backend/target/

# =========================
# Environment files
# =========================
.env
*.env

# =========================
# IDE
# =========================
.vscode/
.idea/